.img-div {
  padding: 1rem;
}

.img-div img {
  width: 35rem;
  height: auto;
}

.photo-graph-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (max-width: 1000px) {
  .photo-graph-div {
    flex-direction: column;
  }
}
